

{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block contenido %} <!-- este contenido es el que aparecera en el segmento con el mismo nombre 'contenido' -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <div class="login">
                  <div class="login-form-container">
                      <div class="login-text">
                          <h2>Ingreso al Aula</h2>
                          {% if form.non_field_errors %}
                          <span>Inicie sesión utilizando los detalles de la cuenta a continuación.</span>
                          {% endif %}
                      </div>
                      <div class="login-form">
                          <form action="#" method="post">{% csrf_token %}
                            {% if form.non_field_errors %}
    <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
  {% endif %}
                              <input type="text" name="username" placeholder="Nombre de usuario" id="id_username">
                              <input type="password" name="password" placeholder="Contraseña" id="id_password">
                              <div class="button-box">
                                  <div class="login-toggle-btn">
                                      <input type="checkbox" id="remember">
                                      <label for="remember">Recordarme</label>
                                      <a href="#">Olvidó su contraseña?</a>
                                  </div>
                                  <button type="submit" class="default-btn" value="Acceder">Acceder</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Login end -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>Suscribase para mantenerse informado</h2>
                    <p>recibirá todo el contenido sobre nuestros cursos, clases y calendarios en su correo electrónico </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form"> 
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingrese su dirección de correo electrónico" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>Suscribirme</span></button> 
                        </div>    
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="{% static 'img/logo/footer-logo.png' %}" alt="eduhome"></a>
                        </div>
                        <p>La motivación es lo que te pone en marcha, el hábito es lo que hace que sigas (Jim Ryun)</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>    
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>información</h3>
                        <ul>
                            <li><a href="#">Admisión</a></li>
                            <li><a href="#">Calendario Académico</a></li>
                            <li><a href="event.html">Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Enlaces útiles
                        </h3>
                        <ul>
                            <li><a href="course.html">Nuestros Cursos</a></li>
                            <li><a href="about.html">Acerca de nosotros</a></li>
                            <li><a href="teacher.html">Profesores &amp; Facultad</a></li>
                            <li><a href="#">teams &amp; Condiciones</a></li>
                            <li><a href="event.html">Nuestros Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
                        <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                        <p>info@eduhome.com<br>www.eduhome.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="https://devitems.com/" target="_blank">Aula Virtual</a> 2021. Todos los derechos reservados.</p>
                </div> 
            </div>
        </div>    
    </div>
</footer>
<!-- Footer End -->
{% endblock %}