
{% extends 'core/base.html' %}
{% load static %}

{% block title %}
inicio
{% endblock %}

{% block contenido %} <!-- este contenido es el que aparecera en el segmento con el mismo nombre 'contenido' -->
<section id="slider-container" class="slider-area three"> 
    <div class="slider-owl owl-theme owl-carousel"> 
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(img/slider/slider3.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">  
                <div class="container">
                    <div class="row">
                        <div class="col-md-7"> 
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="{% static 'img/slider/home.png' %}" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(img/slider/slider2.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">   
                <div class="container">
                    <div class="row">
                        <div class="col-md-7"> 
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="/static/img/slider/slider3.jpg" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(/static/img/slider/home.png)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">  
                <div class="container">
                    <div class="row">
                        <div class="col-md-7"> 
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="img/slider/home.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->								
    </div>
</section>
<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="{% static 'img/logo/footer-logo.png' %}" alt="eduhome"></a>
                        </div>
                        <p>La motivación es lo que te pone en marcha, el hábito es lo que hace que sigas (Jim Ryun)</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>    
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>información</h3>
                        <ul>
                            <li><a href="#">Admisión</a></li>
                            <li><a href="#">Calendario Académico</a></li>
                            <li><a href="event.html">Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Enlaces útiles
                        </h3>
                        <ul>
                            <li><a href="course.html">Nuestros Cursos</a></li>
                            <li><a href="about.html">Acerca de nosotros</a></li>
                            <li><a href="teacher.html">Profesores &amp; Facultad</a></li>
                            <li><a href="#">teams &amp; Condiciones</a></li>
                            <li><a href="event.html">Nuestros Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
                        <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                        <p>info@eduhome.com<br>www.eduhome.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="https://devitems.com/" target="_blank">Aula Virtual</a> 2021. Todos los derechos reservados.</p>
                </div> 
            </div>
        </div>    
    </div>
</footer>
<!-- Footer End -->

{% endblock %}