{% extends 'core/base.html' %}

{% block title %}
{{curso.nombre }}
{% endblock %}

{% block contenido %} <!-- este contenido es el que aparecera en el segmento con el mismo nombre 'contenido' -->

{% if user.is_authenticated %}
<nav>
    <a href="{% url 'crear_clase' %}">Añadir clase</a>
</nav>

{% endif %}
<h1>{{ curso }} </h1><!-- este es el objeto curso renderizado desde la vista-->

Clases:

{% for clase in clases %}
    <h2>{{ clase.titulo }}</h2>
    <p>{{clase.descripcion}}</p>
    <p>{{clase.updated}}</p>
{% endfor %}

{% endblock %}